<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mirrormetech.corm.core.post.infra.persistence.PostMapper">
    
    <select id="selectPostDOs" resultType="com.mirrormetech.corm.core.post.infra.Do.PostDO">
        SELECT
            p.*,
            COUNT( pl.id ) AS like_count
        FROM
            post_record p
                LEFT JOIN user_post_like pl ON p.id = pl.post_id
        <where>
            <if test='req.isFeatured != null'>
                AND p.is_featured = #{req.isFeatured}
            </if>
            <if test='req.status != null'>
                AND p.status = #{req.status}
            </if>
            <if test='req.flcId != null'>
                AND p.first_level_category = #{req.flcId}
            </if>
            <if test='req.slcId != null'>
                AND p.second_level_category = #{req.slcId}
            </if>
        </where>
        GROUP BY
            p.id
        ORDER BY
            p.official_weight ASC,
            like_count DESC,
            p.publish_time desc

    </select>

    <select id="selectPosts" resultType="com.mirrormetech.corm.core.post.domain.Post">
        SELECT
        p.*,
        COUNT( pl.id ) AS like_count
        FROM
        post_record p
        LEFT JOIN user_post_like pl ON p.id = pl.post_id
        <where>
            <if test='req.isFeatured != null'>
                AND p.is_featured = #{req.isFeatured}
            </if>
            <if test='req.status != null'>
                AND p.status = #{req.status}
            </if>
            <if test='req.flcId != null'>
                AND p.first_level_category = #{req.flcId}
            </if>
            <if test='req.slcId != null'>
                AND p.second_level_category = #{req.slcId}
            </if>
        </where>
        GROUP BY
        p.id
        ORDER BY
        p.official_weight ,
        like_count DESC,
        p.publish_time desc

    </select>
</mapper>
