<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mirrormetech.corm.core.category.infra.persistence.FirstLevelCategoryMapper">
    <select id="selectAll" resultType="com.mirrormetech.corm.core.category.infra.DO.FirstLevelCategoryDO">
        SELECT * FROM first_level_category;
    </select>
</mapper>
