<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mirrormetech.corm.core.user.infra.persistence.UserMapper">

    <select id="findByUsername" resultType="com.mirrormetech.corm.core.user.infra.User">
        SELECT * FROM tb_user WHERE username = #{username}
    </select>

    <update id="updateUserProfile" parameterType="com.mirrormetech.corm.core.user.domain.vo.UserUpdateVO">
        update tb_user
        <set>
            <if test="req.avatarUrl != null and req.avatarUrl != ''">avatar_url = #{req.avatarUrl},</if>
            <if test="req.nickName != null">nick_name = #{req.nickName},</if>
            <if test="req.backgroundUrl != null and req.backgroundUrl != ''">background_url = #{req.backgroundUrl},</if>
            <if test="req.collaborationUrl != null and req.collaborationUrl != ''">collaboration_url = #{req.collaborationUrl},</if>
            <if test="req.bio != null ">bio = #{req.bio},</if>
            <if test="req.birthday != null">birthday = #{req.birthday},</if>
            update_time = sysdate()
        </set>
        where id = #{userId}
    </update>

</mapper>
